$color-background: #000000;
$color-text-primary: #000000;
$color-text-secondary: #979797;
$color-primary: #000000;
$color-secondary: #ffffff;

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
