@import '../styles/variables';

.hero {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    color: $color-text-primary;
    margin: 1rem auto;
  }

  p {
    text-align: center;
    font-weight: normal;
    font-size: 1.2rem;
    color: $color-text-secondary;
    margin-bottom: 1.5rem;
  }

  button {
    background-color: $color-secondary;
    color: $color-text-primary;
    border: 1px solid black;
    padding: 0.5rem 1.5rem;
    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  .box {
    background-color: #c4c4c4;
    height: 500px;
    margin: 1.5rem auto;

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem 1.5rem 2rem;
  }
}
